# Use pyenv to install this python version and create a venv.
layout pyenv 3.10.9
use pip-tools requirements.in
use oprc
case "$(uname -s)" in
    Darwin)
        export REQUESTS_CA_BUNDLE=/usr/local/etc/ca-certificates/cert.pem
        # Fixes "ERROR! A worker was found in a dead state" https://www.whatan00b.com/posts/debugging-a-segfault-from-ansible/
        export no_proxy='*'
        ;;
    Linux)
        export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
        ;;
    *)
        echo "OS not supported for REQUESTS_CA_BUNDLE"
        ;;
esac
[[ -f .envrc.local ]] && source_env .envrc.local
